<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
      <server>
         <id>NexusRepo</id>
         <username>${jenkins}</username>
         <password>${JENKINS_PASSWORD}</password>
      </server>
    </servers>
  <proxies>
    <proxy>
      <id>NexusRepo</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>172.17.0.1</host>
      <port>8081</port>
      <username>${jenkins}</username>
      <password>${JENKINS_PASSWORD}</password>
      <nonProxyHosts>https://github.com/Nikita-Prohorov/simple-java-maven-app/tree/nprohcarau</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
