<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
      <server>
         <id>nexus-snapshot</id>
         <username>jenkins</username>
         <password>JENKINS_PASSWORD</password>
      </server>
    </servers>
    <mirrors>
       <mirror>
        <id>iternal-repository</id>
        <name>NexusRepository</name>
        <url>http://172.17.0.1:8081/repository/NexusRepo</url>
        <mirrorOf>*</mirrorOf>
       </mirror>
     </mirrors>
</settings>
